* {
    margin: 0;
    padding: 0;
}


body {
    background: url("../img/berg4.jpeg") center/cover no-repeat;
    height: 100vh;
}

nav {
    background-color: rgb(68, 62, 62, 0.7);
}


nav ul {
    text-align: right;

}
nav ul li {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-family: arial,sans-ser;
    padding: 30px 30px 30px 20px;
}